<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.mapper">
	
	<select id="login" resultType="member.MemberVO">
		select * from user_member 
		where id = #{id} and pw = #{pw}
	</select>
	
	<insert id="join_insert">
		insert into user_member (member_code, id, pw, name, email, tel, commcode, subcode)
		values (member_code_seq.nextval, #{id}, #{pw}, #{name}, #{email}, #{tel}, 1, 1)
	</insert>
	
	<select id="pwchk" resultType="member.MemberVO">
		select * from user_member where pw = #{pw}
	</select>
	
<!-- 안드로이드 idchk에서 사용 
	<select id="idchk" resultType="member.MemberVO">
		select * from user_member where id = #{id}
	</select> -->
	
	<select id="idchk" resultType="integer">
		select count(*) from user_member
		where id = #{id}
	</select>
	
	<delete id="delete">
		delete from user_member
		where id = #{id}
	</delete>
	
</mapper>